[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
loguru = "*"

[packages]
rply = {editable = true, path = "./rply"}

[requires]
python_version = "3.8"
